<div id="contact" class="content alignCenter">
	<h1>contact</h1>
	<hr width="40%">
	<table class="width100 fixedLayout">
		<tr><td><h2>email</h2></td></tr>
		<tr><td>interactive email</td></tr>
		<tr><td><h2>socials</h2></td></tr>
		<tr><td>twitter, insta, linkedin</td></tr>
	</table>
</div>
