<div id="contact" class="container-fluid content alignCenter">
	<br/>
	<h1>contact</h1>
	<hr width="40%">
	
	<h2>email</h2>
	<hr width="35%">
	
	<p class="margin0"><span class="bold">joshrthomas</span>
						(at) <span class="bold"> protonmail </span> (dot com)</p>
	<hr width="30%"><hr width="25%">
	
	<h2>socials</h2>
	<hr width="35%">

	<div class="row">
	   <div class="col-sm-6 mb-4 mb-md-0">
	  <script type="text/javascript" 
						src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
					<div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="joshrthomas"><a class="LI-simple-link" href='https://www.linkedin.com/in/joshrthomas?trk=profile-badge'>Josh Thomas</a></div>
				
	  </div>

	  <div class="col-sm-6">
	  	<a class="twitter-timeline" data-height="400"
		href="https://twitter.com/josherte?ref_src=twsrc%5Etfw">
		Tweets by josherte</a> 
		<script async src="https://platform.twitter.com/widgets.js" 
		charset="utf-8"></script>

	  </div>
	 	</div>
	<table class="width100 fixedLayout">
		<tr><td>
			<table class="width100">
				<tr><td>
					<table class="width100 fixedLayout">
						<tr>
							<td>							</td>
					<td>
							</td>
					</tr>
					</table>
				<hr width="30%"><hr width="25%">
				</td></tr>
			</table>
		</td></tr>
	</table>
</div>
