<div id="contact" class="content alignCenter">
	<h1>contact</h1>
	<hr width="40%">
	<table class="width100 fixedLayout">
		<tr><td>
			<table class="width100">
				<tr><td><h2>email</h2><hr width="35%">
					<p class="margin0"><span class="bold">joshrthomas</span>
						(at) <span class="bold"> protonmail </span> (dot com)</p>
					<hr width="30%"><hr width="25%"></td></tr>
			</table>
		</td></tr>
		<tr><td>
			<table class="width100">
				<tr><td><h2>socials</h2><hr width="35%">
				</td></tr>
				<tr><td>
					<table class="width100 fixedLayout">
						<tr>
							<td><a class="twitter-timeline" data-height="400"
							   href="https://twitter.com/josherte?ref_src=twsrc%5Etfw">
								Tweets by josherte</a> 
								<script async 
									src="https://platform.twitter.com/widgets.js" 
									charset="utf-8"></script>
							</td>
					<td>
						<script type="text/javascript" 
						src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
					<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="joshrthomas"><a class="LI-simple-link" href='https://www.linkedin.com/in/joshrthomas?trk=profile-badge'>Josh Thomas</a></div>
					</td>
					</tr>
					</table>
				<hr width="30%"><hr width="25%">
				</td></tr>
			</table>
		</td></tr>
	</table>
</div>
