<div id="footer" class="h-25">
	<div class="alignCenter row container-fluid padding2 whiteText">
		<div class="col-12">
			<h3 class="underline">contact</h3></div>			
		<div class="col-6">
			<h4>email</h4>
			<p class="underlineHover invisibleLink my-auto">
				<a href="mailto:joshrthomas@protonmail.com">joshrthomas@protonmail.com</a></p>	
		</div>
		<div class="col-6">
			<h4>linkedin</h4>
			<a href="https://www.linkedin.com/in/joshrthomas/"><img src="/LinkedIn.png" height="32px" width="36px"></a>
		</div>
	</div>
</div>
