<nav class="navbar navbar-expand-md">
	
	<div class="navbar-brand">
		<h1 class="marginBottom0">Josh Thomas</h1>
		<p class="margin0">aspiring developer</p></div>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
		aria-controls="navbar-content" aria-expanded="false" aria-label="toggle nav">
		<span class="navbar-toggler-icon"><img src="menu.png"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarContent">
		<ul class="nav navbar-nav ml-auto">
			<% nav.forEach(function(i) { %>
				<% if( i==cur ) { %>
					<li class="nav-link">
						<a class="nav-link nav-link-custom underline" href=<%= i %>><h4><%= i %></h4></a></li>
				<% } else { %>
					<li class="nav-link">
						<a class="nav-link nav-link-custom" href=<%= i %>><h4><%= i %></h4></a></li>
				<% } %>
			<% }); %>
			</ul>
					</ul>
	</div>
</nav>
<div id="header-bottom"></div>
