<div class="header">
<table class="top width100">
	<tr>
		<td>
			<h1>Josh Thomas</h1>
			<p>aspiring developer</p></td>
		<td style="width:50%">
		<table class="width100 alignCenter fixedLayout">
			<tr>
			<% nav.forEach(function(i) { %>
			<% if( i==cur ) { %>
				<td class="underline invisibleLink underlineHover blueHover"><h2>
					<a href=<%= i %>><%= i %></a></h2></td>
			<% } else { %>
				<td class="invisibleLink underlineHover blueHover"><h2>
					<a href=<%= i %>><%= i %></a></h2></td>
			<% }}); %>
		</tr></table>
</table></div>
<hr class="thickhr">
