<div class="wholehead">
<div class="header">
<div class="container">
<table class="top">
	<tr>
		<td>
			<h1>Josh Thomas</h1>
			<p>aspiring developer</p></td>
		<td style="float: right">
			<br><br>
			<p><a href="https://www.github.com/jerte">https://github.com/jerte</a></p></td></tr>
	</table>

</div>
</div>

<nav>
		<table>
			<tr>	
				<td><div class="container background" id="background">
					<h2 id="backgroundh2">background</h2>
					<p>hometown, education, skills</p>
				</div></td>
				<td><div class="container portfolio" id="portfolio">
					<h2 id="portfolioh2">portfolio</h2>
					<p>projects, github, recent updates </p>
				</div></td>
				<td><div class="container personal" id="personal">
					<h2 id="personalh2">personal</h2>
					<p>contact, music, hobbies, books<p>
				</div></td>
			</tr>
</table></nav>
</div>
