<div id="home" class="container-fluid">
	<table class="width100 fixedLayout">
		<tr><td class="alignCenter"><br><h1>jerte.me</h1>
			<hr width="35%"></td></tr>
		<tr><td class="alignCenter">
			<br>
			<p class="width70 autoMargin">Hi! My name is Josh Thomas and I'm a recent graduate from The University of
			   North Carolina at Chapel Hill. I received a B.S. in Computer Science with a
			   Neuroscience minor in May 2020. I'm currently working as an Associate Software Engineer at Infosys.			</p>
			<br>
			<hr width="30%">
			<br>
			<p class="width70 autoMargin">
			   I initially created this site to house a digital portfolio, but I 
			   have plans to use this site to gather, compile, and share information about topics that 
			   I'm interested in. I've attached a list of upcoming features below.
			</p>
			<br>
			<hr width="30%">
			<h4>Upcoming Features:</h4>
			<ul class="list-unstyled">
				<li>Incorporate React</li>
				<li>Webpages for courses (links to textbooks, notes)</li>
				<li>Clone of Github contribution count chart</li>
				<li>blog? more of a timeline of what I publish on here + link</li>
			</ul>
			<hr width="30%">
			<hr width="25%">
			</td></tr>	
	</table>
</div>
