<div id="interests" class="content alignCenter container-fluid">
	<br>
	<div class="underline blueHover invisibleLink">
	<a href="/interests" class="invisibleLink">	
	<h1>interests</h1></a>
	</div>
	<hr width="40%">
	<div class="row">
		<% for(var i=0; i<data['interests'].length; i++) { %>
			<% if(data['interests'][i]['has_link']) { %>
				<div class="col-md-4 col-sm-6 invisibleLink interest" id=<%= data['interests'][i]['name'] %>>
				<a href="/interests/<%= data['interests'][i]['name'] %>">
				<% if(subpage == data['interests'][i]['name']) { %>
					<p class="padding2 underlineHover project underline">
				<% } else { %>	
					<p class="padding2 underlineHover project">
				<% } %>
				<%= data['interests'][i]['name'] %></p></a></div>

			<% } else { %>
				<div class="col-md-4 col-sm-6">
				<p class="padding2 underlineHover project">
				<%= data['interests'][i]['name'] %></p></div>
			<% } %>
		<% } %>
	</div>

	<% if( !subpage ) { %>
		<hr width="30%">
		<hr width="25%">
		<div class="row">
			<div class="col-12"><p class="padding2 project">
				click on an interest to see more information</p>
			</div>
		</div>
		<hr width="30%"><hr width="25%">
	<% } %>
</div>
