<hr width="30%"><hr width="25%">
<div class="container-fluid">
	<div class="padding2 project">

	<div class="row">
		<div class="col-12">
		<p>Sorry, I'm not interested in the topic, '<%= subpage %>'. Actually, 
			before someone gets a funny screenshot, I didn't write anything about
			about the topic. If you think it's something I should look into, shoot me an email.</p>
	</div></div>


</div>
<hr width="30%"><hr width="25%">
