<div id="portfolio" class="content alignCenter">
	<h1>portfolio</h1>
	<hr width="40%">
	<table class="width100 fixedLayout">
		<tr>
			<td class=""><h2>undergraduate projects</h2><hr width="35%">
				<table class="width100 fixedLayout">
					<tr><td class="project">
						<table class="width100">
						<tr><th>Using Machine Learning to Classify Parkinson’s Patients 
								as Cognitively Stable</th></tr>

						<tr><td>Research project using machine learning in Python. 
								Created three machine learning models using 
								preprocessed MRI data from Parkinson’s Disease 
								patients and controls. Models predicted whether a 
								given patient would undergo cognitive decline for the 
								purpose of identifying brain regions responsible 
								for decline</td></tr>
						<tr><td>Python, Machine Learning</td></tr>
						</table>
					</td>
					<td class="project">
						<table class="width100">
						<tr><th>Replicating SignFi in Python</th></tr>
						<tr><td> Semester long class project that used 
							open data to replicate the results of the SignFi 
							research paper in Python. Created a machine learning 
							model and convolutional neural network to identify 
							up to 276 sign language gestures from fluctuations in 
							wireless signals.</td></tr>
						<tr><td>Python, Machine Learning</td></tr>
						</table>
					</td>
					<td class="project">
						<table class="width100">
						<tr><th>Spotify with Friends</th></tr>
						<tr><td>Semester long group project that created a 
						website in JavaScript. Using a wrapper for Spotify API, 
						the site replicated the functionality of the Spotify 
						web app while adding an updatable timeline feature.</td></tr>
						<tr><td>Javascript/NodeJS, HTML, CSS</td></tr>
						</table>
					</td>
		</tr></table>
	<hr width="30%">
	<hr width="25%">
	<table class=" width100 fixedLayout">
		<tr><td><h2 class="invisibleLink">
			<a href="https://www.github.com/jerte">github</a></h2><hr width="35%">
		</td></tr>
		<tr><td class="bold">Repositories:</td></tr>
		<tr><td>
			<table class="width100 fixedLayout" id="git"></table>
		</tr>
	</table>
	<hr width="30%">
	<hr width="25%">

</div>
