<div id="portfolio" class="content alignCenter">
	<h1>portfolio</h1>
	<hr width="40%">
	<table class="width100 fixedLayout">
		<tr><td><h2>projects</h2></td></tr>
		<tr><td>Projects list</td></tr>	
		<tr><td><h2>github</h2></td></tr>
		<tr><td>repositories</td></tr>
		<tr><td><h2>recent commits</h2></td></tr>
		<tr><td>commit chart? most recent commits</td></tr>
	</table>

</div>
