<div id="portfolio" class="container-fluid content alignCenter">
	<br>
	<h1>portfolio</h1>
	<hr width="40%">
	
	<h2>undergraduate projects</h2><hr width="35%">

	<div class="container-fluid">
	<div class="row">
		<% for(var i=0; i<data['project_names'].length; i++) { %>
		<div class="col-lg-4"><div class="project">
			<p class="bold padding2"><%= data['project_names'][i]['name'] %></p>
			<p><%= data['project_info'].filter(x => x['has_link']==data['project_names'][i]['has_link'])[0]['name'] %></p>
			<p class="padding2">
				<%= data['project_tech'].filter(x => x['has_link']==data['project_names'][i]['has_link'])[0]['name'] %>
			</p>
		</div></div>
		<% } %>
	</div>
	
	<hr width="30%">
	<hr width="25%">
	
	
	<div class="invisibleLink blueHover underline">
		<a href="https://www.github.com/jerte" class="invisibleLink"><h2>github</h2></a>
	</div>
	<hr width="35%">
	<p class="bold">Repositories: </p>
	<hr width="20%">
	<div id="git"></div>
	<hr width="30%">
	<hr width="25%">

</div>
