<div class="container-fluid">
	<div class="padding2 project">

	<div class="row">
		<div class="col-12">
		<p>things to add:</p></div>
		<div class="col-12">
			<ul class="w-50">
				<li>vim notes</li>
				<li>emacs notes</li>
				<li>python notes</li>
				<li>c++ notes</li>
				<li>java notes</li>
				<li>free programming resources</li>
			</ul>
	</div></div>


</div>
