<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<link rel="stylesheet" href="/style.css" type="text/css">


<div style="height: 25vh"></div>
<h1 class="alignCenter"> 404 Page</h1>
<h3 class="alignCenter">page not found</h3>
<div style="height: 25vh"></div>
