<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="style.css">
		<script src="ejs.js"></script>
		<script src="jquery.js"></script>
		<script src="script.js"></script>
	</head>
	
	<body>

		<%- include('../partials/header.ejs') -%>

		<div id="contentborder">
			<div id="content">
				<table id="box">
				</table>
			</div>
		</div>
	<br/>	
	</body>
		
	</body>
</html>
